<!doctype html>
<html class="no-js" lang="zh-cmn-Hans">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="container">
  <h4><span id="title"></span> SCORE REPORT</h4>
  <p>The purpose of this practice test is to help you prepare for the TOEFL iBT<sup>&reg;</sup>. Performance on this
    test is not necessarily a predictor of how you might perform during an actual TOEFL<sup>&reg;</sup> administration
    because you are not taking this test under regular testing conditions. However, you are encouraged to use this
    practice test to get a better sense of the TOEFL iBT<sup>&reg;</sup> content and format, as well as receive
    scoring information on this preparation experience. Scores and information presented in this score report
    are
    for preparation use only and are not official test scores.</p>
  <dl class="dl-horizontal">
    <dt>Start Time</dt>
    <dd id="startTime"></dd>
    <dt>End Time</dt>
    <dd id="endTime"></dd>
  </dl>
</div>
<div class="container">
  <table class="table table-bordered report">
    <thead>
    <tr>
      <td>Section</td>
      <td>Total Number of Correct Responses</td>
      <td>% Correct</td>
      <td>Scaled Score</td>
      <td>Details</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Reading</td>
      <td>1 of <span id="totalQuestionCountInReadingSection"></span></td>
      <td>2%</td>
      <td>0</td>
      <td><a class="btn btn-default" href="#">Details</a></td>
    </tr>
    <tr>
      <td>Listening</td>
      <td>4 of <span id="totalQuestionCountInListeningSection"></span></td>
      <td>12%</td>
      <td>0</td>
      <td><a class="btn btn-default" href="#">Details</a></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <p><strong>Section Scores</strong></p>
  <ul class="nav nav-pills nav-justified">
    <li class="active">
      <a href="#reading" data-toggle="tab">Reading</a>
    </li>
    <li>
      <a href="#listening" data-toggle="tab">Listening</a>
    </li>
    <li>
      <a href="#speaking" data-toggle="tab">Speaking</a>
    </li>
    <li>
      <a href="#writing" data-toggle="tab">Writing</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="reading">
      <p><strong>Reading Question Status</strong></p>
      <table class="table table-bordered report">
        <thead>
        <tr>
          <td style="width:80px">Number</td>
          <td>Question</td>
          <td style="width:160px">Your Answer</td>
          <td style="width:160px">Correct Answer</td>
          <td style="width:160px">View</td>
        </tr>
        </thead>
        <tbody id="readingDetailsTableBody">
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="listening">
      <p><strong>Listening Question Status</strong></p>
      <table class="table table-bordered report">
        <thead>
        <tr>
          <td style="width:80px">Number</td>
          <td>Question</td>
          <td style="width:160px">Your Answer</td>
          <td style="width:160px">Correct Answer</td>
          <td style="width:160px">View</td>
        </tr>
        </thead>
        <tbody id="listeningDetailsTableBody">
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="speaking">
      <p><strong>Speaking Question Status</strong></p>
      <table class="table table-bordered report">
        <thead>
        <tr>
          <td style="width:80px">Number</td>
          <td>Question</td>
          <td style="width:160px">Your Answer</td>
          <td style="width:160px">Correct Answer</td>
          <td style="width:160px">View</td>
        </tr>
        </thead>
        <tbody id="speakingDetailsTableBody">
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="writing">
      <p><strong>Writing Question Status</strong></p>
      <table class="table table-bordered report">
        <thead>
        <tr>
          <td style="width:80px">Number</td>
          <td>Question</td>
          <td style="width:160px">Your Answer</td>
          <td style="width:160px">Correct Answer</td>
          <td style="width:160px">View</td>
        </tr>
        </thead>
        <tbody id="writingDetailsTableBody">
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="js/vendor/jquery-3.1.1.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
