body {
    padding-top: 20px;
    min-height: 1600px;
}

.dl-horizontal dt {
    width: 80px;
    text-align: left;
}

.dl-horizontal dd {
    margin-left: 100px;
}

.nav-pills > li > a {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #002642;
}

.nav-pills > li > a {
    border-radius: 0;
}

.tab-content .tab-pane {
    padding: 20px;
}

.table.table-bordered.report {
    border: 1px solid #333;
}

.table.table-bordered.report > tbody > tr > td, .table.table-bordered.report > tbody > tr > th, .table.table-bordered.report > tfoot > tr > td, .table.table-bordered.report > tfoot > tr > th, .table.table-bordered.report > thead > tr > td, .table.table-bordered.report > thead > tr > th {
    border: 1px solid #333;
    vertical-align: middle;
}

.table.table-bordered.report > thead > tr > td {
    border-bottom-width: 1px;
    background-color: #2f528c;
    color: #fff;
    font-weight: bold;
}
